<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <main>
    <h1>Usuários Cadastrados</h1>
    <ul class="block-container">
      <% registro.map(usuario => { %> 
        <li><%= usuario.id %> - <%= usuario.usuario %> | <%= usuario.senha%></li>
      <% }) %>
    </ul>
    <form action="/deslogar" method="post">
      <div class="button-container">
        <input type="submit" value="Deslogar">
      </div>
    </form>
  </main>
</body>
</html>