<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Login</title>
</head>
<body>
  <main>
    <h1>Insira suas credenciais!</h1>
    <form action="" method="POST">
      <input required type="text" placeholder="Usuário" name="username-inp">
      <input required type="password" placeholder="Senha" name="password-inp">
      <div class="button-container">
        <input type="submit" value="Entrar"/>
      </div>
    </form>
  </main>
</body>
</html>